beautifulsoup4==4.13.3
boto3==1.37.13
brotli==1.1.0
cryptography==44.0.2
edge-tts==7.0.0
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.18.0
importlib-resources==6.5.2
lxml==5.3.1
moviepy==1.0.3
numpy==1.24.3
openai-whisper==20240930
opencv-python-headless==4.5.5.64
Pillow==11.1.0
pydub==0.25.1
streamlit==1.43.2
toml==0.10.2
tornado==6.1
vosk==0.3.43
youtube-dl==2021.12.17
